<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>article</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/input">Anterior</a>
    <a href="/header">Siguiente</a>
</nav>
<h1>Etiqueta article</h1>
<h2>Descripción</h2>
<p>La etiqueta &lt;article&gt; se utiliza para definir contenido independiente y autónomo dentro de una página web.
    Se usa para secciones que pueden existir por sí solas, como:

    Noticias

    Publicaciones de blog

    Artículos

    Comentarios

    Publicaciones en foros

    Es una etiqueta semántica de HTML5, lo que significa que ayuda a los navegadores y buscadores a entender la estructura del contenido.</p>
<h2>Sintaxis básica</h2>
&lt;article&gt;
    conntenido del articulo
&lt;/article&gt;
<h2>Atributos comunes</h2>

<ul>
    <li>id</li>
    <li>class</li>
    <li>style</li>
    <li>title</li>
</ul>
<h2>Ejemplo funcional</h2>

<article id="noticia1" class="articulo" title="Noticia importante">
    <header>
        <h2>Nuevo descubrimiento científico</h2>
        <p>Publicado el 7 de marzo de 2026</p>
    </header>

    <p>
        Un grupo de investigadores descubrió una nueva especie marina.
    </p>

    <footer>
        <p>Autor: Luis</p>
    </footer>
</article>
<h2>Código mostrado en pantalla</h2>
<pre>

&lt;article&gt;
  &lt;h2&gt;Historia del Internet&lt;/h2&gt;
  &lt;p&gt;El Internet comenzó como un proyecto militar en los años 60.&lt;/p&gt;
&lt;/article&gt;

</pre>
</body>
</html>