<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>audio</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/video">Anterior</a>
    <a href="/ol">Siguiente</a>
</nav>
<h1>Etiqueta audio</h1>
<h2>Descripción</h2>
<p>se utiliza en HTML5 para insertar y reproducir archivos de audio en una página web sin necesidad de programas externos.
    Permite reproducir formatos de audio como MP3, WAV u OGG y puede mostrar controles de reproducción como play, pausa y volumen.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;audio&gt;
    audio reproduciendoce
    &lt;/audio&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>controls</li>
    <li>autoplay</li>
    <li>loop</li>
    <li>muted</li>
    <li>preload</li>
</ul>
<h2>Ejemplo funcional</h2>

<audio controls>
    <source src="audio.mp3" type="audio/mpeg">
</audio>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;audio controls&gt;
  &lt;source src="musica.mp3" type="audio/mpeg"&gt;
&lt;/audio&gt;
</pre>
</body>
</html>