<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>body</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body >
<nav>
    <a href="/index">Inicio</a>
    <a href="/main">Anterior</a>
    <a href="/h1">Siguiente</a>
</nav>
<h1>Etiqueta Body</h1>
<h2>Descripción</h2>
<p>se utiliza para contener todo el contenido visible de una página web.
    Dentro de esta etiqueta se colocan elementos como textos, imágenes,
    enlaces, tablas, listas, formularios, videos, etc.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;body&gt;
    contenido
    &lt;/body&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>bgcolor</li>
    <li>text</li>
</ul>
<h2>Ejemplo funcional</h2>

<p>Esta página está dentro de una etiqueta Body.</p>

<h2>Código mostrado en pantalla</h2>

<pre>
&lt;body&gt;
Contenido
&lt;/body&gt;
</pre>
</body>
</html>