<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dl</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/li">Anterior</a>
    <a href="/dt">Siguiente</a>
</nav>
<h1>Etiqueta dl</h1>
<h2>Descripción</h2>
<p>significa Definition List (lista de definiciones).
    Se utiliza para crear listas de términos y sus definiciones.

    Esta etiqueta funciona junto con:

    "dt" → término o concepto.

    "dd" → definición o descripción del término.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;dl&gt;
    &lt;dt&gt;elemento 1&lt;/dt&gt;
    &lt;dt&gt;elemento 2&lt;/dt&gt;
    &lt;/dl&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>id</li>
    <li>class</li>
    <li>style</li>
    <li>title</li>
</ul>
<h2>Ejemplo funcional</h2>

<dl>
    <dt>HTML</dt>

    <dt>CSS</dt>
    <dd>Lenguaje usado para dar estilo y diseño a las páginas web.</dd>

    <dt>JavaScript</dt>
    <dd>Lenguaje de programación que permite agregar interactividad a las páginas web.</dd>
</dl>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;dl&gt;
  &lt;dt&gt;HTML&lt;/dt&gt;
  &lt;dd&gt;Lenguaje para crear páginas web&lt;/dd&gt;

  &lt;dt&gt;CSS&lt;/dt&gt;
  &lt;dd&gt;Lenguaje para dar estilo a las páginas&lt;/dd&gt;
&lt;/dl&gt;
</pre>
</body>
</html>