<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dt</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/dl">Anterior</a>
    <a href="/table">Siguiente</a>
</nav>
<h1>Etiqueta dt</h1>
<h2>Descripción</h2>
<p>significa Definition Term (término de definición).
    Se utiliza para definir el término o nombre dentro de una lista de definiciones.

    Siempre se usa dentro de la etiqueta "dl" (lista de definiciones) y normalmente va acompañada de "dd", que contiene la descripción del término.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;dl&gt;
    &lt;dt&gt;elemento 1&lt;/dt&gt;
    &lt;dt&gt;elemento 2&lt;/dt&gt;
    &lt;/dl&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>id</li>
    <li>class</li>
    <li>style</li>
    <li>title</li>
</ul>
<h2>Ejemplo funcional</h2>

<dl>
    <dt>HTML</dt>
    <dd>Lenguaje de marcado para crear páginas web.</dd>

    <dt>CSS</dt>
    <dd>Lenguaje usado para dar estilo a las páginas web.</dd>

    <dt>JavaScript</dt>
    <dd>Lenguaje de programación que agrega interactividad.</dd>
</dl>


<h2>Código mostrado en pantalla</h2>
<pre>
&lt;dl&gt;
  &lt;dt&gt;HTML&lt;/dt&gt;
  &lt;dd&gt;Lenguaje de marcado para crear páginas web&lt;/dd&gt;
&lt;/dl&gt;
</pre>
</body>
</html>