<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/td">Anterior</a>
    <a href="/label">Siguiente</a>
</nav>
<h1>Etiqueta form</h1>
<h2>Descripción</h2>
<p>La etiqueta &lt;form&gt; se utiliza en HTML para crear formularios que permiten a los usuarios ingresar y enviar datos a un servidor.
    Los formularios se usan para registros, inicios de sesión, encuestas, búsquedas y envío de información.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;form&gt;
     campos del formulario
    &lt;/form&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>action</li>
    <li>method</li>
    <li>name</li>
    <li>target</li>
    <li>autocomplete</li>
    <li>enctype</li>
</ul>
<h2>Ejemplo funcional</h2>

<form >

    <label>Nombre:</label>
    <input type="text" name="nombre">


</form>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;form &gt;

&lt;label&gt;Nombre:&lt;/label&gt;
&lt;input type="text" name="nombre"&gt;

&lt;label&gt;Correo:&lt;/label&gt;
&lt;input type="email" name="correo"&gt;

&lt;input type="submit" value="Enviar"&gt;

&lt;/form&gt;
</pre>
</body>
</html>