<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>h1</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/body">Anterior</a>
    <a href="/h2">Siguiente</a>
</nav>
<h1>Etiqueta h1</h1>
<h2>Descripción</h2>
<p>se utiliza para definir el título principal o encabezado más importante de una página web.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;h1&gt;
    Titulo Principal
    &lt;/h1&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>class</li>
    <li>id</li>
    <li>style</li>
</ul>
<h2>Ejemplo funcional</h2>

<h1 id="titulo" class="principal" style="color:blue;">
    Mi página web
</h1>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;h1&gt;Bienvenidos a mi página&lt;/h1&gt;
</pre>
</body>
</html>