<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>h2</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/h1">Anterior</a>
    <a href="/h3">Siguiente</a>
</nav>
<h1>Etiqueta h2</h1>
<h2>Descripción</h2>
<p></p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;h2&gt;
    Texto del subtitulo
    &lt;/h2&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>id</li>
    <li>class</li>
    <li>style</li>
</ul>
<h2>Ejemplo funcional</h2>

<h2 id="intro" class="titulo" style="color:blue;">Introducción</h2>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;h2&gt;Introducción&lt;/h2&gt;
</pre>
</body>
</html>