<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>h3</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/h2">Anterior</a>
    <a href="/p">Siguiente</a>
</nav>
<h1>Etiqueta HTML</h1>
<h2>Descripción</h2>
<p>Se usa para crear un encabezado de tercer nivel dentro de una página web.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;h3&gt;
    Titulo de tercer nivel
    &lt;/h3&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>id</li>
    <li>class</li>
    <li>style</li>
</ul>
<h2>Ejemplo funcional</h2>

<h3 id="tema1" class="subtitulo" style="color:red;">
    Subtítulo de la sección
</h3>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;h3&gt;Etiquetas básicas&lt;/h3&gt;
</pre>
</body>
</html>