<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/article">Anterior</a>
</nav>
<h1>Etiqueta header</h1>
<h2>Descripción</h2>
<p>La etiqueta &lt;article&gt; se utiliza para definir contenido independiente y autónomo dentro de una página web.
    Se usa para secciones que pueden existir por sí solas, como:

    -Noticias

    -Publicaciones de blog

    -Artículos

    -Comentarios

    -Publicaciones en foros

    Es una etiqueta semántica de HTML5, lo que significa que ayuda a los navegadores y buscadores a entender la estructura del contenido.</p>
<h2>Sintaxis básica</h2>
&lt;header&gt;
conntenido del encabezado
&lt;/header&gt;
<h2>Atributos comunes</h2>

<ul>
    <li>id</li>
    <li>class</li>
    <li>style</li>
    <li>title</li>
</ul>
<h2>Ejemplo funcional</h2>
<header>
    <h1>Mi Sitio Web</h1>
    <p>Bienvenido a mi página</p>
</header>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;header&gt;
   &lt;h1&gt;Mi Sitio Web&lt;/h1&gt;
   &lt;p&gt;Bienvenido a mi página&lt;/p&gt;
&lt;/header&gt;

</pre>
</body>
</html>