<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>img</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/strong">Anterior</a>
    <a href="/video">Siguiente</a>
</nav>
<h1>Etiqueta img</h1>
<h2>Descripción</h2>
<p>se utiliza en HTML para insertar imágenes en una página web.
    Permite mostrar imágenes como fotos, ilustraciones, íconos o gráficos que están guardados en el mismo proyecto o en internet.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;img&gt;
    imagen
    &lt;/img&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
<li>src</li>
    <li>alt</li>
    <li>width</li>
    <li>height</li>
    <li>title</li>
</ul>
<h2>Ejemplo funcional</h2>

<img src="ipn.png" alt="Escudo del ipn" width="300" height="200" title="imagen de ejemplo">

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;img src="imagen.jpg" alt="Imagen de ejemplo" width="300"&gt;
</pre>
</body>
</html>