<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Etiquetas HTMl</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
 <h1> Etiquetas en html</h1>
 <a href="/index">Inicio</a>
 <a href="/main">Siguiente</a>
 <h2>Etiqueta de estructura</h2>
 <nav>
     <ul>
         <li><a href="/main">Etiqueta   HTML</a></li>
         <li><a href="/body">Etiqueta body</a></li>
     </ul>
 </nav>
 <hr>
 <h2>Etiquttas de texto</h2>
<nav>
    <ul>
        <li><a href="/h1">Etiqueta h1</a></li>
        <li><a href="/h2">Etiqueta h2</a></li>
        <li><a href="/h3">Etiqueta h3</a></li>
        <li><a href="/p">Etiqueta p</a></li>
        <li><a href="/strong">Etiqueta strong</a></li>
    </ul>
</nav>
 <hr>
<h2> Etiquetas multimedia</h2>
<nav>
    <ul>
        <li><a href="/img">Etiqueta img</a></li>
        <li><a href="/video">Etiqueta video</a></li>
        <li><a href="/audio">Etiqueta audio</a></li>
    </ul>
</nav>
 <hr>
<h2>Etiquetas de lista</h2>
<nav>
    <ul>
        <li><a href="/ol">Etiqueta ol</a></li>
        <li><a href="/li">Etiqueta li</a></li>
        <li><a href="/dl">Etiqueta dl</a></li>
        <li><a href="/dt">Etiqueta dt</a></li>
    </ul>
</nav>
 <hr>
<h2> Etiquetas para tablas</h2>
<nav>
    <ul>
        <li><a href="/table">Etiqueta table</a></li>
        <li><a href="/tbody">Etiqueta tbody</a>
        <li><a href="/tr">Etiqueta tr</a></li>
        <li><a href="/td">Etiqueta td</a></li>
    </ul>
</nav>
<hr>
<h2>Etiquetas para formularios</h2>
<nav>
    <ul>
        <li><a href="/form">Etiqueta form</a></li>
        <li><a href="/label">Etiqueta label</a></li>
        <li><a href="/input">Etiqueta input</a></li>
    </ul>
</nav>
<hr>
<h2>Etiquetas de semantica</h2>
<nav>
    <ul>
        <li><a href="/article">Etiqueta article</a></li>
        <li><a href="/header">Etiqueta header</a></li>
    </ul>
</nav>
</body>
</html>