<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>input</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="index">Inicio</a>
    <a href="label">Anterior</a>
    <a href="article">Siguiente</a>
</nav>
<h1>Etiqueta input</h1>
<h2>Descripción</h2>
<p>La etiqueta &lt;input&gt; se utiliza para crear campos de entrada de datos dentro de un formulario.
    Permite que el usuario escriba información o seleccione opciones como texto, contraseñas, correos electrónicos, números, fechas, botones, entre otros.

    Es una etiqueta vacía, lo que significa que no necesita etiqueta de cierre.</p>
<h2>Sintaxis básica</h2>
 &lt;input type="tipo" name="nombre"&gt;

<h2>Atributos comunes</h2>

<ul>
    <li>type</li>
    <li>name</li>
    <li>value</li>
    <li>placeholder</li>
    <li>required</li>
    <li>maxlength</li>
    <li>disable</li>
    <li>readonly</li>
</ul>
<h2>Ejemplo funcional</h2>

<p>Esta página está dentro de una etiqueta Body.</p>

<h2>Código mostrado en pantalla</h2>

</body>
</html>