<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>li</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/ol">Anterior</a>
    <a href="/tr">Siguiente</a>
</nav>
<h1>Etiqueta li</h1>
<h2>Descripción</h2>
<p>significa “list item” (elemento de lista) y se utiliza para definir cada elemento dentro de una lista.

    Siempre se usa dentro de etiquetas de lista como:

"ul" → lista desordenada (con viñetas)

    "ol" → lista ordenada (con números)</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;li&gt;
    &lt;elemento 1&gt;
    &lt;elemento 2&gt;
    &lt;/li&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>value</li>
    <li>type</li>
    <li>class</li>
    <li>id</li>
</ul>
<h2>Ejemplo funcional</h2>

<li value="3">Elemento número uno</li>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;ul&gt;
  &lt;li&gt;HTML&lt;/li&gt;
  &lt;li&gt;CSS&lt;/li&gt;
  &lt;li&gt;JavaScript&lt;/li&gt;
&lt;/ul&gt;
</pre>
</body>
</html>