<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/index">Anterior</a>
    <a href="/body">Siguiente</a>
</nav>
<h1>Etiqueta HTML</h1>
<h2>Descripción</h2>
<p>Define el documento HTML y contiene todo el contenido de la página.</p>
<h2>Sintaxis básica</h2>
<pre>
&lt;html&gt;
contenido
&lt;/html&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
    <li>lang</li>
    <li>dir</li>
</ul>
<h2>Ejemplo funcional</h2>

<p>Esta página está dentro de una etiqueta html.</p>

<h2>Código mostrado en pantalla</h2>

<pre>
&lt;html&gt;
&lt;body&gt;
Contenido
&lt;/body&gt;
&lt;/html&gt;
</pre>
</body>
</html>