<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/audio">Anterior</a>
    <a href="/li">Siguiente</a>
</nav>
<h1>Etiqueta ol</h1>
<h2>Descripción</h2>
<p>significa Ordered List (lista ordenada).
    Se utiliza para crear listas donde los elementos tienen un orden específico, normalmente numerados.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;ol&gt;
    &lt;elemento 1&gt;
    &lt;elemento 2&gt;
    &lt;/ol&gt;
</pre>


<h2>Atributos comunes</h2>

<ul>
<li>type</li>
    <li>start</li>
    <li>reversed</li>
</ul>
<h2>Ejemplo funcional</h2>

<ol type="A" start="3">
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript</li>
</ol>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;ol&gt;
  &lt;li&gt;Hervir agua&lt;/li&gt;
  &lt;li&gt;Agregar café&lt;/li&gt;
  &lt;li&gt;Servir en una taza&lt;/li&gt;
&lt;/ol&gt;
</pre>
</body>
</html>