<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>p</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/h3">Anterior</a>
    <a href="/strong">Siguiente</a>
</nav>
<h1>Etiqueta P</h1>
<h2>Descripción</h2>
<p>se utiliza para definir un párrafo de texto en una página web.
    Sirve para organizar el contenido en bloques de texto, haciendo que el navegador agregue automáticamente un espacio antes y después del párrafo para mejorar la lectura.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;p&gt;
    Parrafo de texto
    &lt;/p&gt;
</pre>
<h2>Atributos comunes</h2>
<ul>
    <li>id</li>
    <li>class</li>
    <li>style</li>
</ul>
<h2>Ejemplo funcional</h2>

<p>Este es el primer párrafo de mi página.</p>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;p&gt;Este es un párrafo de texto.&lt;/p&gt;
</pre>
</body>
</html>