<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tbody</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/table">Anterior</a>
    <a href="/tr">Siguiente</a>
</nav>
<h1>Etiqueta tbody</h1>
<h2>Descripción</h2>
<p>se utiliza para agrupar el contenido del cuerpo de una tabla en HTML.
    Sirve para organizar las filas principales de datos dentro de una tabla, separándolas de otras partes como:

    &lt;thead&gt; → encabezado de la tabla

    &lt;tbody&gt; → cuerpo o datos de la tabla

    &lt;tfoot&gt; → pie de la tabla</p>
<h2>Sintaxis básica</h2>
<pre>
   &lt;table&gt;
    &lt;tbody &gt;
        &lt;th&gt;encabezado 1&lt;/th&gt;
        &lt;td&gt;texto&lt;/td&gt;
    &lt;tbody&gt;
&lt;/table&gt;
</pre>


<h2>Atributos comunes</h2>

<ul>
    <li>align</li>
    <li>valign</li>
    <li>class</li>
    <li>id</li>
    <li>style</li>
</ul>
<h2>Ejemplo funcional</h2>

<table >
    <tbody>
    <tr>
        <td>Ana</td>
        <td>20</td>
    </tr>
    </tbody>

</table>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;tbody&gt;
  &lt;tr&gt;
    &lt;td&gt;Ana&lt;/td&gt;
    &lt;td&gt;20&lt;/td&gt;
  &lt;/tr&gt;

  &lt;tr&gt;
    &lt;td&gt;Carlos&lt;/td&gt;
    &lt;td&gt;22&lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
</pre>
</body>
</html>