<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>td</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/tbody">Anterior</a>
    <a href="/form">Siguiente</a>
</nav>
<h1>Etiqueta td</h1>
<h2>Descripción</h2>
<p>(table data) se utiliza para definir una celda de datos dentro de una tabla en HTML.
    Se coloca dentro de una fila de tabla &lt;td> y sirve para mostrar información dentro de las columnas de la tabla.

        Cada &lt;td&gt; representa una celda donde se pueden colocar textos, imágenes, enlaces u otros elementos HTML.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;table&gt;
&lt;th&gt;
&lt;td&gt;texto&lt;/td&gt;
&lt;/th&gt;
&lt;/table&gt;
</pre>


<h2>Atributos comunes</h2>

<ul>
    <li>class</li>
    <li>id</li>
    <li>style</li>
    <li>colspan</li>
    <li>rowspan</li>
    <li>headers</li>
</ul>
<h2>Ejemplo funcional</h2>

<table border="1">
    <tr>
        <td>Juan</td>
        <td>20</td>
        <td>México</td>
    </tr>
</table>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;table border="1"&gt;
&lt;tr&gt;
&lt;td&gt;Juan&lt;/td&gt;
&lt;td&gt;20&lt;/td&gt;
&lt;td&gt;México&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
</pre>
</body>
</html>