<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tr</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/tbody">Anterior</a>
    <a href="/td">Siguiente</a>
</nav>
<h1>Etiqueta tr</h1>
<h2>Descripción</h2>
<p>(table row) se utiliza en HTML para crear una fila dentro de una tabla.
    Se coloca dentro de la etiqueta "table" y normalmente contiene celdas definidas con "td" (datos) o "th" (encabezados).</p>
<h2>Sintaxis básica</h2>
&lt;tr&gt;
&lt;dato 1&gt;
&lt;dato 2&gt;
&lt;/tr&gt;

<h2>Atributos comunes</h2>

<ul>
    <li>align</li>
    <li>valign</li>
    <li>bgcolor</li>
    <li>class</li>
    <li>id</li>
    <li>style</li>
</ul>
<h2>Ejemplo funcional</h2>

<table >
    <tr>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Carrera</th>
    </tr>

</table>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;tr&gt;
  &lt;td&gt;Luis&lt;/td&gt;
  &lt;td&gt;20&lt;/td&gt;
  &lt;td&gt;Ingeniería&lt;/td&gt;
&lt;/tr&gt;
</pre>
</body>
</html>