<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
<nav>
    <a href="/index">Inicio</a>
    <a href="/img">Anterior</a>
    <a href="/audio">Siguiente</a>
</nav>
<h1>Etiqueta video</h1>
<h2>Descripción</h2>
<p>se utiliza en HTML para insertar y reproducir videos directamente en una página web sin necesidad de usar programas externos.</p>
<h2>Sintaxis básica</h2>
<pre>
    &lt;video&gt;
    video reproduciendose
    &lt;/video&gt;
</pre>

<h2>Atributos comunes</h2>

<ul>
<li>controls</li>
    <li>autoplay</li>
    <li>loop</li>
    <li>muted</li>
    <li>width</li>
    <li>height</li>
    <li>poster</li>
</ul>
<h2>Ejemplo funcional</h2>

<video controls>
    <source src="videohtml.mp4" type="video/mp4">
</video>

<h2>Código mostrado en pantalla</h2>
<pre>
&lt;video width="400" controls&gt;
  &lt;source src="video.mp4" type="video/mp4"&gt;
  Tu navegador no soporta la etiqueta video.
&lt;/video&gt;
</pre>
</body>
</html>